body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  /* the body has its on margin  */
}
#product-overview {
  background: #ff1b68;
  padding: 20px; 
  /* PX is a unit to define the value */
  /* padding is adding values around the text */
  /* the content of the element the padding is added after the margin */
  border: 5px black solid; /* <= this is a short hand of declaring border-style border color border width  */
  margin:20px; /*  margin collapsing */
}
/*  margin collapsing 
if you have two elements that are block elements 
margings btween them are collapsed together whichver is bigger
*/

h1 {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1 {
  font-family: "Courier New", Courier, monospace;
}
.section-title {
  color: #2ddefc;
  font: inherit;
}

#product-overview h1 {
  font-size: 30px;
}
